# Question 1 - Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [14]:
length = float(input('What is the length of a rectangle?: '))
breadth = float(input('What is the breadth of a rectangle?: '))
if length == breadth:
    print('It is a srquare')
else:
    print('It is not a square')

What is the length of a rectangle?: 10
What is the breadth of a rectangle?: 10
It is a srquare

# Question 2: Take three integer values from the user and print the greatest among them.

In [29]:
number1 = int(input('What is the first number?: '))
number2 = int(input('What is the second number?: '))
number3 = int(input('What is the third number?: '))

if number3 > number2 and number3 > number1:
    print(f'Maximum number is {number3}')
elif number2 > number3 and number2 > number1:
    print(f'Maximum number is {number2}')
else:
    print(f'Maximum number is {number1}')

What is the first number?: 20
What is the second number?: 200
What is the third number?: 1000
Maximum number is 1000

# Question 3 - A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [34]:
attendance = float(input('What is attendance of student in %?: '))
if attendance > 75:
    print('Student can sit for exam')
else:
    print('Student cannot sit for the exam')

What is attendance of student in %?: 45
Student cannot sit for the exam

# Question 4 - A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [46]:
grade = int(input('What is the marks obtained?: '))

if grade < 25:
    print('Grade is: F')
elif 25 <= grade <= 44:
    print('Grade is: E')
elif 45 <= grade <= 49:
    print('Grade is: D')
elif 50 <= grade <= 59:
    print('Grade is: C')
elif 60 <= grade <= 79:
    print('Grade is: B')
elif 80 <= grade <= 89:
    print('Grade is: A')
else:
    print('Grade is: A+')

What is the marks obtained?: 45
Grade is: D

# Question 5 - Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [85]:
#For loop

numbers = range(7, 3, -1)

for i in numbers:
    for x in range(1, i+1):
        print(x, end = ' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# Question 6 - Display numbers from -100 to -10 using for loop.

In [91]:
#While loop

num = 7
while num >= 4:
    i = 1
    while i <= num:
        print(i, end = ' ')
        i += 1
    print()
    num -= 1
    if num < 4:
        break

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# Question 6 - Display numbers from -100 to -10 using for loop.

In [50]:
num = range(-100, -9)
for i in num:
    print(i, end = ' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

# Question 7 - Write a program to sum all prime numbers within a range of 10 to 1000.

In [51]:
num_prime = range(10, 1001)
for i in num_prime:
    if i/i == 1:
        print(i, end = ' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999 1000

# Question 8 -Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [117]:
n = 7
total = 1
for i in range(1, n+1):
    total *= i
print(f'The factorial of 7! is {total}')

The factorial of 7! is 5040

# Question 9 - Reverse a given integer number 27956240710.

In [6]:
#String slicing option

num1 = 27956240710
num1_reverse = int(str(num1)[::-1])
num1_reverse

1704265972

# Question 10 - Print the following pattern using for and while loop.

# # #
# # # #
# # #
# #

In [121]:

#For loop

list = [3, 4, 3, 2]

for i in list:
   print(i*'#')

###
####
###
##

In [136]:
# alternative for loop

list = [3, 4, 3, 2]

for i in list:
    j = ''
    for x in range(i):
        j += '#'
    print(j)

###
####
###
##

In [ ]:
#while loop
    
i = 0
while i < 4:
    if i < 2:
        print('#'* (i+3))
    else:
        print('#'*2)
    i += 1
    print()

In [143]:
#while loop

row = 0
while row <=3:
    if row == 0 or row == 2:
        print('###')
    elif row == 1:
        print('####')
    else:
        print('##')
    row += 1

###
####
###
##

# Question 11 - Display the Fibonacci series of 15 elements using the for and while loop.

In [167]:
#For loop

n1 = 0
n2 = 1
i = 0
for i in range(15):
    print(n1, end = ' ')
    
    n3 = n1+n2
    n1 = n2
    n2 = n3

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [165]:
#While loop

n1 = 0
n2 = 1
i = 0
while (i < 15):
    print(n1, end = ' ')
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    i += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Question 12 - Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [195]:
Li = [1,3,5, [2,3], True]
Li[3][0] = 3 # remove 2 and add 2 to the list
Li[-1] = False
Li

[1, 3, 5, [3, 3], False]

# Question 13 - Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [9]:
S1 = {1,4,6,8}
S2 = {True,1,2,10}
S2.intersection(S1)

{True}

# Question 14 - Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [24]:
user_number = input('What are the numbers?: ')
list = [int(x) for x in user_number.split()]

list1 = set(list)
max_number_set = max(list1)
print('Input list = ', list)
print('Set without duplicate: ', list1)
print('Max number in set: ', max_number_set)

What are the numbers?: 1 9 3 4 5 200 54
Input list =  [1, 9, 3, 4, 5, 200, 54]
Set without duplicate:  {1, 3, 4, 5, 200, 9, 54}
Max number in set:  200

# Question 15 - Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [43]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
if 'country' in Dict:
    Dict["region"] = Dict["country"]
    del Dict["country"]
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# Question 16 - Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [45]:
import pandas as pd
import numpy as np

num = [10,100,300]

pd.DataFrame(num, columns = ['number'])

   number
0      10
1     100
2     300

# Question 17 - Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [48]:
Dict = { "name": "Shakil", "age":27, "city": 'Berlin', "country": "Germany" }

Dict['age'] = 28

Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}